<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BASE{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body style ="background-color:{{theme.background_color}};color:{{theme.text_color}};">
<style>
    a{
    text-decoration:none;
    }
    a:hover {
    text-decoration:underline;
    }

</style>
<div>
    <div style = "text-align:center">
  <form  method="post" action="{% url 'night_mode' %}">
      {% csrf_token %}
          <button type="submit" name="theme">CHANGE MODE</button>
    </form>
    </div>

    <h1 ><a href = "{% url 'main_page:main' %}">Main Page</a></h1>
    <ul >
        <li><a href = "{% url 'resume:resume' %}">Resume</a></li>
        <li><a href = "{% url 'projects:projects_view' %}">Projects</a></li>
        <li><a href = "{% url 'test_projects:t_projects' %}">Test projects</a></li>
        <li><a href = "{% url 'education:edu' %}">Education</a></li>
        <li><a href = "{% url 'stats:statistic' %}">Statistic</a></li>
        <li><a href = "{% url 'hello:hello' %}">Hello</a></li>
        <li><a href = "{% url 'goodbye:greeting' %}">Goodbye</a></li>
        <li><a href = "{% url 'blog:blog' %}">Blog</a></li>
    </ul>
</div>
{% if not user.is_authenticated %}
<button style="position:absolute;top:0px;right:100px;"><a href="{% url 'onboarding:sign-in' %}">Sign In</a></button>
<button style="position:absolute;top:0px;right:30px;"><a href="{% url 'onboarding:sign-up' %}">Sign Up</a></button>
{% else %}
<div style="position:absolute;top:0px;right:120px;">
     <img style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;border:1px solid grey" src="{{ object.avatar.url }}" >  <a href="{% url 'onboarding:profile' %}">{{ user.username }}</a>
</div>
    <button style="position:absolute;top:15px;right:30px;"><a href="{% url 'onboarding:sign-out' %}">Sign Out</a></button>
{% endif %}
{% block body %}SMTH{% endblock %}
</body>
</html>