[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"
ipython = "*"
isort = "*"
black = "==19.10b0"
pudb = "*"
pillow = "*"

[packages]
django = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"], version = "*"}
delorean = "*"
pandas = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
