{% extends "_base.html" %}

{% load static %}

{% block title %}
My profile
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'onboarding/profile.css' %}">
{% endblock %}

{% block theme %}
background-color:{{theme.background_color}};color:{{theme.text_color}};
{% endblock %}

{% block body %}

{% if object %}
<h1>My profile</h1><br>
{% if object.avatar.original.url %}
Avatar: <img class="avatar" src="{{ object.avatar.original.url }}" ><br>
{% else %}
Avatar: <img class="avatar" src="{% static 'no_avatar.jpg' %}" ><br>
{% endif %}
<h2 class="display_name">Name: {{ object.display_name }}<br>
Birth: {{ object.birth_date }}</h2>

<form method="post" action="{% url 'onboarding:update_profile' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<form enctype="multipart/form-data" method="post" action="{% url 'onboarding:update_avatar' %}">
    {% csrf_token %}
    {{ avatar_form.as_p }}

    <button type="submit">Save</button>
</form>
{% endif %}

{% endblock %}
