	{% load static %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Сайт портфолио</title>
		<link rel="stylesheet" type="text/css" href="{% static 'resume/resume.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

		</head>

		<body>
			<header class="header">
<!-- container -->
			
			<div class="container">
			<h1 class="site-heading">
				Iliya Evzhenko<br>

				Web-developer and layout artist</h1>
				<div class="slogan">
					<p> Fast and quality work</p>
				</div>
		         		<div class="social-icons">
							<a href="https://github.com/iyozh"target="_blank">
								<img src="/media/social items/github.png" alt="github">
							</a>

							<a href="https://telegram.org/"target="_blank">
								<img src="/media/social items/telegram_(1).png" alt="telegram">
							</a>
							
							<a href="https://vk.com/i.yozh"target="_blank">
								<img src="/media/social items/vk_(2).png" alt="vk">
							</a>
						
							<a href="#"target="blank">
								<img src="/media/social items/facebook.png" alt="facebook">
							</a> 
						</div>
			</div>
<!--container-->
			</header>
	<main>
			<section class="about-me">
					<div class="container">
						<div class="row-space">
							<div class="about-me-text">
								<h2 class="title-2">About me</h2>

								<p>Country: Belarus<br>
								   Age: 18<br>
								   Education: Student of Academy of PA<br>
								   Major: Information Resources Management
								</p>
								
								<h3 class="title-3">What I can do</h3>
								<ul>
									<li> Website-development</li>
									<li> Layout</li>
									<li> Web-programming</li>
								</ul>
								
								
							</div>
							<div class="about-me-photo">
								<img src="/media/aboutme/img_01.jpg"alt="computer">
							</div>
						</div>
					</div>
				</section>

			<section class="portfolio">
				<div class="container">
					<div class="portfolio-header">
					<h2 class="title-2">Portfolio</h2>
				</div>
					<div class="cards-wrapper">

						<div class="card">
							<img class="card-img" src="/media/sites/IMG (2).jpg"alt="project3">
							<h3 class="card-title">Escape from the Academy</h3>
							<div class="card-desc"><p>Layout</p></div>
							<a href="/projects"class="card-link">More details</a>
								
						</div>
					</div>
				</div>
				
			</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="cta">
				<strong> Communication:</strong>
				<a href="mailto:evzhenko1106@gmail.com"> evzhenko1106@gmail.com</a>
			</div>
		</div>
	</footer>
	</body>
	</html>
