<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Сайт портфолио</title>
		<link rel="stylesheet" href="/css/projects.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">

		</head>
		<body style="background-color:{background_color:};color:{text_color:}">
			<header class="header">
<!-- container -->
			
			<div class="container">
			<h1 class="site-heading">
				Iliya Evzhenko<br>

				Web-developer and layout artist</h1>
				<div class="slogan">
					<p> Fast and quality work</p>
				</div>
		         		<div class="social-icons">
							<a href="https://github.com/iyozh"target="_blank">
								<img src="/media/social items/github.png" alt="github">
							</a>

							<a href="https://telegram.org/"target="_blank">
								<img src="/media/social items/telegram_(1).png" alt="telegram">
							</a>
							
							<a href="https://vk.com/i.yozh"target="_blank">
								<img src="/media/social items/vk_(2).png" alt="vk">
							</a>
						
							<a href="#"target="blank">
								<img src="/media/social items/facebook.png" alt="facebook">
							</a> 
						</div>
            </div>
            </header>
        <main>
                <section class="projects">
                        <div class="container">
                            <h1 class = "title_projects">Projects</h1>
                            <div class="row-space">
                                <div class="about-me-text">
                                   
                                    <h2 class="title-2">Escape from the Academy</h2>
    
                                    <p>This is the training layout project,quest-website.This project was created with such technologies as HTML/CSS/JavaScript
                                    </p>
                                    
                                    <a href="https://volkovvvv.github.io/schetchik/"class="card-link">Link</a>

                                </div>
                                <div class="about-me-photo">
                                    <img src="/media/sites/escape2.PNG"alt="computer">
                                </div>
                            </div>
                        </div>
                    </section>