{% extends "_base.html" %}

{% block title %}Hello{% endblock %}

{% block body %}
<h1>Hello, {{name}}!</h1>


{% if year %}
<h2>You was born at {{year}}</h2>
{% else %}
<h2>I don't know your birthday</h2>
{% endif %}


<form method="post">
{{form.as_p}}
    <button type="submit">Send</button>
</form>
{% endblock %}

    {% block night_mode %}
<form  method="post" action="{% url 'hello:night_mode' %}">
          <button type="submit" name="theme">CHANGE MODE</button>
    </form>
    {% endblock %}
