{% extends "_base.html" %}

{% block title %}
Editing Page
{% endblock %}

{% block body %}
<h2>Enter the data</h2>
   <form method = "post">
       {{ form.as_p }}
    <button type="submit" formaction="{% url 'test_projects:edit' project_id %}">Save</button>
   </form>

{% endblock %}

 {% block night_mode %}
<form  method="post" action="{% url 'test_projects:editing_page' project_id %}/night_mode">
          <button type="submit" name="theme">CHANGE MODE</button>
    </form>
    {% endblock %}