{% extends "_base.html" %}

{% block title %}
Education
{% endblock %}

{% block theme %}
background-color:{{theme.background_color}};color:{{theme.text_color}};
{% endblock %}

{% block body %}
      EDUCATION:{{edu_info.univer}}<br>
      Major:{{edu_info.major}}<br>
      Qualification:{{edu_info.qualification}}<br>
      Start:{{edu_info.start}}<br>
      End:{{edu_info.end}}<br>
{% endblock %}
{% block night_mode %}
<form method="post" action="{% url 'education:night_mode' %}">
          <button type="submit" name="theme">CHANGE MODE</button>
  </form>
{% endblock %}